Source: abraca
Section: sound
Priority: extra
Maintainer: Benjamin Drung <bdrung@ubuntu.com>
Build-Depends: debhelper (>= 5), libxmmsclient-glib-dev (>= 0.2DrJekyll), libglade2-dev, python, docbook-xsl, xsltproc
Standards-Version: 3.7.2
Vcs-Git: git://git.debian.org/git/pkg-xmms2/abraca
Vcs-Browser: http://git.debian.org/?p=pkg-xmms2/abraca.git

Package: abraca
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xmms2-core, xmms2-plugin-vorbis, xmms2-plugin-mad, xmms2-plugin-id3v2, xmms2-plugin-alsa
Suggests: xmms2-client-cli
Description: A simple and powerful graphical client for XMMS2
 Abraca is a GTK2 client for the XMMS2 music player. It is designed with
 collections in mind, which makes managing your music a breeze.

