#!/usr/bin/make -f

export NOCOLOR=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS := $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
	NUMJOBS := 1
endif

%:
	dh $@

override_dh_auto_configure:
	./waf configure --prefix=/usr -v

override_dh_auto_build:
	./waf build -v -j $(NUMJOBS)

override_dh_installchangelogs:
	dh_installchangelogs $(CURDIR)/abraca-0.8.0.ChangeLog

override_dh_auto_install:
	./waf install --destdir=$(CURDIR)/debian/abraca

override_dh_auto_clean:
	rm -rf build .waf* .lock*
	find . -name '*.pyc' -delete
