[Desktop Entry]
Name=Abraca XMMS2 Client
Comment=Manage Music
Comment[de]=Musik verwalten
Categories=GNOME;Application;AudioVideo;
Encoding=UTF-8
Exec=abraca
Icon=abraca
Terminal=false
Type=Application
