.fading-button {
	opacity: 0.0;
	transition: 150ms ease-in-out;
}

.abraca-toolbar-visible .fading-button {
	opacity: 1.0;
}

.abraca-track-list {
	border: 1px solid rgb(220,220,220);
	background-color: white;
	padding: 0px 10px 10px 10px;
}

.abraca-album-name {
	font-size: 16px;
}

.abraca-album-date {
	font-size: 12px;
}

.abraca-coverart {
	border: 1px solid rgba(80, 80, 80, 1);
}

.abraca-playback-label:link:backdrop {
    color: @theme_unfocused_fg_color;
}

.abraca-playback-label:link {
	color: @theme_fg_color;
}

.abraca-playback-label:visited {
	color: @theme_fg_color;
}

.abraca-playback-label:hover {
	color: @theme_selected_bg_color;
}

.abraca-playback-label:active {
	color: @theme_selected_bg_color;
}
